.overlay {
    position: absolute;
    z-index: 1000;
    color: blue;
    background: rgba(189, 179, 179, 0.863);
    padding: 30px;
    visibility: visible;
    width: 40rem;
    height: 3rem;
    top: 30rem;
    display: flex;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 25px

  }

#game-containter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}